* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  overflow-x: hidden;  
}

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  background: #111;
  color: #fff;
}
h1 {
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-weight: 600;
}

p {
  font-weight: 300;
  line-height: 1.7;
}



.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 60px;
}

.nav-links a {
  position: relative;
  margin-left: 24px;
  text-decoration: none;
  font-weight: 500;
  background: linear-gradient(90deg, #B1CBAB, #5A924E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease;
}

.nav-btn {
  border: 1px solid #5A924E;
  padding: 6px 14px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.nav-btn:hover {
  background: linear-gradient(90deg, #B1CBAB, #5A924E);
  color: #000;
  -webkit-text-fill-color: #000;
}


.nav-btn.active {
  background: #9be28f;
  color: #000;
}

.nav-links a.active {
  color: #ffffff;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #9be28f;
  left: 0;
  bottom: 0;
}

.nav-btn.active::after {
  display: none;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #B1CBAB, #5A924E);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}



.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 4px; 
}

.hero-left {
  margin-left: 10%;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #cfe6c8;
}


.download-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  width: fit-content;
}

.download-btn svg {
  font-size: 14px;
}

.btn{
  color: #000;
  font-size: large;
}

.profile-circle {
  border: 12px solid #9be28f;
  border-radius: 50%;
  padding: 10px;
}

.profile-circle img {
  border-radius: 50%;
  width: 250px;
}

.section {
  padding: 60px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #161a16;
  padding: 20px;
  border-radius: 12px;
}

.green-card {
  background: #1f2a1f;
  color: #9be28f;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 60px;
  max-width: 1600px;   
  margin: 10px auto;   
}

.project-card {
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;   
  height: 100%;             
  transition: 0.3s ease;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;             
}

.project-description {
  font-size: 13px;
  color: #cfe6c8;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin-bottom: 15px;
}
.project-content h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.project-content p {
  font-size: 13px;
  color: #cfe6c8;
  margin-bottom: 15px;
  line-height: 1.5;
}

.project-btn {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;

  border: 1px solid #5A924E;
  color: #B1CBAB;

  transition: 0.3s ease;
}

.project-btn:hover {
  background: linear-gradient(90deg, #B1CBAB, #5A924E);
  color: #000;
}

.project-card:hover {
  box-shadow: 0 8px 20px rgba(90, 146, 78, 0.25);
}
.outline-card {
  border: 1px solid #9be28f;
}

.btn {
  background: #9be28f;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid #9be28f;
  background: transparent;
  color: #9be28f;
  padding: 8px 16px;
  border-radius: 6px;
  margin-left: 10px;
}
.contact-section {
  padding: 120px 60px;
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end;     
}

.contact-box {
  background: #5A924Ecd;
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  border: 1px solid rgba(90, 146, 78, 0.3);
}

.contact-box h2 {
  margin-bottom: 25px;
  font-size: 24px;
  color: white;

}


.contact-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 90px 40px 40px 40px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #cfe6c8;
}


.contact-item svg {
  font-size: 18px;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contact-item a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
  font-size: 20px;
}

.contact-item a:hover {
  color: #B1CBAB;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #111;
}
.about-section {
  background-color: #000000 !important;
  padding: 40px 60px;
}

.about-container h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
  margin-top: 1px;
}
.about-container h2 {
  font-size: 20px;
  color: white;
  line-height: 1.6;
  padding: 30px 70px;
}

.gradient-text {
  background: linear-gradient(90deg, #B1CBAB, #5A924E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 10px;
}

.skill-card {
  background: #1a241a;
  color: #d7f5d1;
  padding: 28px;
  border-radius: 12px;
  line-height: 1.7;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-icon {
  font-size: 32px;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #B1CBAB, #5A924E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  gap: 20px;
}

.skill-card h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 900;
  background: linear-gradient(90deg, #ffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-header {
  display: flex;
  align-items: center;
  gap: 12px; 
  margin-bottom: 15px;
}

.skill-card p {
  font-size: 14px;
  color: #cfe6c8;
}

.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(90, 146, 78, 0.25);
}

.tech-stack {
  overflow: hidden;
  padding: 60px 0;
  background: #52694d; 
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.logo-item {
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.logo-item img {
  height: 50px;
  opacity: 0.8;
  transition: 0.3s ease;
}

.logo-item img:hover {
  opacity: 1;
  transform: scale(1.1);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


html {
  scroll-behavior: smooth;
}




@media (max-width: 768px) {

h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
  .navbar {
    padding: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 9px;
    justify-content: center;
  }

  .nav-links a {
    font-size: 10px;
  }

  .nav-btn {
  border: 1px solid #5A924E;
  padding: 3px 7px;
  border-radius: 6px;
  transition: 0.3s ease;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-right {
    margin-top: 30px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero-subtitle {
    font-size: 16px;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .about-container h2{
    padding: 5px;
    font-size: 10px;
  }
  .about-container h1{
    font-size: medium;
  }


  .card-grid {
    grid-template-columns: 1fr;
  }

  .skill-card {
    padding: 20px;
  }

  .logo-item img {
    height: 30px;
  }

  .logo-track {
    animation-duration: 20s; 
  }
  .section {
    padding: 60px 20px;
  }
  .contact-section {
    justify-content: center;
    padding: 30px 10px;
  }

  .contact-row {
    flex-direction: column;
    gap: 10px;
  }
  .contact-box {
  background: #5A924Ecd;
  font-size: small;
  padding: 10px 20px;
  border-radius: 12px;
  width: 100%;
  border: 1px solid rgba(90, 146, 78, 0.3);
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 9px;
  color: #cfe6c8;
}
.contact-item svg {
  font-size: 15px;
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-box h2 {
  margin-bottom: 25px;
  font-size: 14px;
  color: white;

}

.contact-item a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
  font-size: 15px;
}

  }



@media (max-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }

  .project-card {
    max-width: 100%;
  }
}


